In [2]:
# Import statements
import yfinance as yf
import pandas as pd
import os
import numpy as np
from datetime import date
from pathlib import Path
import pandas_ta as ta
from price_data_pull_yfinance import gethistoricalOHLC, saveHistStockData, loadHistDataFromDisk

from global_vars import dataPathToOHLC, pathToMasterDF, float16Cols, float32Cols

In [29]:
pd.set_option('display.max_columns', 500)

In [46]:
masterDf = pd.read_csv(pathToMasterDF);
masterDf.head()

Empty DataFrame
Columns: [TICKER, FIRST_DATE_OHLC, LAST_DATE_OHLC, FILEPATH]
Index: []

In [47]:
aapl = gethistoricalOHLC('AAPL')

In [49]:
aapl.tail(1)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
5332,2021-03-12,120.375,121.1875,119.1875,121.0,87963400.0,0.0,0.0

In [50]:
saveHistStockData('AAPL', aapl)

True

In [52]:
aapl = loadHistDataFromDisk('AAPL');
aapl.tail(1)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
5332,2021-03-12,120.375,121.1875,119.1875,121.0,87963400.0,0.0,0.0

In [54]:
masterDf

Empty DataFrame
Columns: [TICKER, FIRST_DATE_OHLC, LAST_DATE_OHLC, FILEPATH]
Index: []

In [42]:
dftest = aapl[['Date','Open', 'High', 'Low', 'Close', 'Volume']];
dftest.set_index(pd.DatetimeIndex(dftest['Date']), inplace = True);
dftest = dftest.drop('Date',axis = 1);
dftest.tail()

                Open      High       Low     Close       Volume
Date
2021-03-08  120.9375  121.0000  116.1875  116.3750  153918592.0
2021-03-09  119.0000  122.0625  118.8125  121.0625  129159600.0
2021-03-10  121.6875  122.1875  119.4375  120.0000  111760400.0
2021-03-11  122.5625  123.1875  121.2500  121.9375  102753600.0
2021-03-12  120.3750  121.1875  119.1875  121.0000   87963400.0

In [22]:
dftest.ta.log_return(cumalative=True,append=True);
dftest

,open,high,low,close,volume,LOGRET_1
date,,,,,,
1999-12-31,0.776367,0.791016,0.765137,0.790527,163811200.0,NaN
2000-01-03,0.806641,0.865234,0.782227,0.860840,535796800.0,0.085205
2000-01-04,0.832520,0.850586,0.778320,0.788086,512377600.0,-0.088257
2000-01-05,0.797852,0.850098,0.791992,0.799805,778321600.0,0.014771
2000-01-06,0.816406,0.822754,0.730469,0.730469,767972800.0,-0.090576
...,...,...,...,...,...,...
2021-03-08,120.937500,121.000000,116.187500,116.375000,153918592.0,-0.042969
2021-03-09,119.000000,122.062500,118.812500,121.062500,129159600.0,0.039062
2021-03-10,121.687500,122.187500,119.437500,120.000000,111760400.0,-0.007812
2021-03-11,122.562500,123.187500,121.250000,121.937500,102753600.0,0.015625
2021-03-12,120.375000,121.187500,119.187500,121.000000,87963400.0,-0.007812

In [43]:
dftest.ta.strategy('Volume')

In [44]:
dftest.tail()

,open,high,low,close,volume,EFI_13,EOM_14_100000000,MFI_14,NVI_1,OBV,PVI_1,PVOL,PVR,AD,ADOSC_3_10,OBV_min_2,OBV_max_2,OBVe_4,OBVe_12,AOBV_LR_2,AOBV_SR_2,CMF_20,PVT
date,,,,,,,,,,,,,,,,,,,,,,,
2021-03-08,120.9375,121.0000,116.1875,116.3750,153918592.0,-1.799754e+08,-4.050747,23.851101,1371.392822,8.715573e+10,1310.421265,1.791228e+10,3.0,7.870897e+10,-9.719947e+07,8.715573e+10,8.730965e+10,8.724857e+10,8.742175e+10,0,1,-0.116858,2.983229e+10
2021-03-09,119.0000,122.0625,118.8125,121.0625,129159600.0,-6.777385e+07,-3.022866,30.521265,1375.420166,8.728489e+10,1310.421265,1.563638e+10,2.0,7.875864e+10,-8.281099e+07,8.715573e+10,8.728489e+10,8.726310e+10,8.740070e+10,0,1,-0.117862,3.035246e+10
2021-03-10,121.6875,122.1875,119.4375,120.0000,111760400.0,-7.505551e+07,-2.555383,30.390823,1374.542725,8.717313e+10,1310.421265,1.341125e+10,4.0,7.869260e+10,-9.041049e+07,8.717313e+10,8.728489e+10,8.722711e+10,8.736569e+10,0,1,-0.115577,3.025440e+10
2021-03-11,122.5625,123.1875,121.2500,121.9375,102753600.0,-3.589256e+07,-2.524725,30.751091,1376.156982,8.727588e+10,1310.421265,1.252952e+10,2.0,7.865945e+10,-9.584633e+07,8.717313e+10,8.727588e+10,8.724662e+10,8.735187e+10,0,1,-0.119369,3.042027e+10
2021-03-12,120.3750,121.1875,119.1875,121.0000,87963400.0,-4.254587e+07,-2.274888,31.111531,1375.387939,8.718791e+10,1310.421265,1.064357e+10,4.0,7.873092e+10,-6.661727e+07,8.718791e+10,8.727588e+10,8.722314e+10,8.732665e+10,0,1,-0.090416,3.035262e+10

In [45]:
dftest.shape

(5333, 23)