In [15]:
# Import statements
import yfinance as yf
import pandas as pd
import os
import numpy as np
from datetime import date
from pathlib import Path

from price_data_pull_yfinance import gethistoricalOHLC, saveHistStockData

from global_vars import dataPathToOHLC, pathToMasterDF, float16Cols, float32Cols

masterDF = pd.DataFrame(columns=['TICKER', 'FIRST_DATE_OHLC', 'LAST_DATE_OHLC', 'FILEPATH'])

In [16]:
# save the master_df_to_file
masterDF.to_csv(pathToMasterDF, index = False)

In [17]:
masterDF

Empty DataFrame
Columns: [TICKER, FIRST_DATE_OHLC, LAST_DATE_OHLC, FILEPATH]
Index: []

In [4]:
h_MSFT = gethistoricalOHLC('MSFT')
h_AAPL_short = gethistoricalOHLC('AAPL',end_date='2015-12-31')
h_AAPL_long = gethistoricalOHLC('AAPL')

In [10]:
h_MSFT.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,1999-12-31,37.31250,37.40625,36.90625,37.06250,12517600.0,0.0,0.0
1,2000-01-03,37.28125,37.68750,35.56250,37.03125,53228400.0,0.0,0.0
2,2000-01-04,36.06250,37.18750,35.65625,35.78125,54119000.0,0.0,0.0
3,2000-01-05,35.28125,36.96875,34.75000,36.15625,64059600.0,0.0,0.0
4,2000-01-06,35.62500,36.15625,34.40625,34.93750,54976600.0,0.0,0.0

In [18]:
saveHistStockData('MSFT',h_MSFT)

True

In [7]:
masterDF

Empty DataFrame
Columns: [TICKER, FIRST_DATE_OHLC, LAST_DATE_OHLC, FILEPATH]
Index: []

In [19]:
test = pd.read_csv(pathToMasterDF)

In [20]:
test

,TICKER,FIRST_DATE_OHLC,LAST_DATE_OHLC,FILEPATH
0,MSFT,0,5327,C:\Users\phili\Google Drive\Code_for_bothCompu...