In [5]:
# Import statements
import yfinance as yf
import pandas as pd
import os
import numpy as np
from datetime import date
import feather
from global_vars import *

from price_data_pull_yfinance import gethistoricalOHLC

In [6]:
hist_PORSCHE = gethistoricalOHLC("POAHY")

In [7]:
hist_PORSCHE.head()

,DATE,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-01-20,4.315713,4.315713,4.130022,4.187650,2600,0.0,0
1,2010-01-21,4.110813,4.110813,4.033975,4.098006,1800,0.0,0
2,2010-01-22,3.989154,4.001960,3.873897,4.001960,3900,0.0,0
3,2010-01-25,3.886704,3.982750,3.848285,3.912316,11300,0.0,0
4,2010-01-26,3.841882,3.912316,3.803463,3.912316,1800,0.0,0

In [11]:
hist_PORSCHE.columns

Index(['DATE', 'Open', 'High', 'Low', 'Close', 'Volume', 'Dividends',
       'Stock Splits'],
      dtype='object')

In [12]:
hist = gethistoricalOHLC('ISRG')

In [13]:
hist

,DATE,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2000-06-16,6.041667,6.166667,6.000000,6.083333,173850,0,0.0
1,2000-06-19,6.083333,6.166667,6.000000,6.000000,454350,0,0.0
2,2000-06-20,6.020833,6.541667,5.250000,6.250000,392550,0,0.0
3,2000-06-21,6.666667,7.416667,6.416667,7.333333,780750,0,0.0
4,2000-06-22,7.375000,7.416667,6.354167,6.583333,285900,0,0.0
...,...,...,...,...,...,...,...,...
5207,2021-03-01,749.039978,760.770020,745.669983,759.210022,559200,0,0.0
5208,2021-03-02,760.000000,760.000000,746.780029,750.000000,391000,0,0.0
5209,2021-03-03,746.059998,746.059998,721.479980,727.150024,507100,0,0.0
5210,2021-03-04,725.000000,727.239990,699.030029,709.169983,808700,0,0.0
5211,2021-03-05,712.250000,718.440002,687.239990,713.369995,759100,0,0.0

In [15]:
hist[hist['Dividends']!=0]

Empty DataFrame
Columns: [DATE, Open, High, Low, Close, Volume, Dividends, Stock Splits]
Index: []

Empty DataFrame
Columns: [TICKER, FIRST_DATE_OHLC, LAST_DATE_OHLC, SOURCE, FILEPATH]
Index: []

WindowsPath('C:/Users/phili/Google Drive/Code_for_bothComputers/PythonStockMarketEvalTool/PythonStockScreener/01_data/01_price_data/masterDF.csv')

WindowsPath('C:/Users/phili/Google Drive/Code_for_bothComputers/PythonStockMarketEvalTool/PythonStockScreener/01_data/01_price_data/MSFT')